/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
.byebug_history
.idea
./idea/*
config/unicorn.rb
log
.DS_Store
public/assets/*
config/local_env.yml
tmp/cache/*
config/secrets.yml
tmp/cache/bootsnap-load-path-cache
data/srt/*.mp4

